  html,
  body {
  	background: linear-gradient(black, pink);
  	color: white;
  	font-size: 20px;
  	height: 100%;
  }

  .randomNumber {
  	border-radius: 100px;
  	padding: 15px;
  	background: green;
  	color: white;
  	border: none;
  	margin: 10px;
  	transition: ease 0.5s;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 25%;
  	font-size: 10px;
  }

  .randomNumber:hover {
  	background: blue;
  }

  .randomNumber:focus {
  	background: rgb(123, 11, 143);
  }

  .containerBodyTitle {
  	text-align: center;
  	display: flex;
  	flex-direction: column;
  	flex: 1 1 auto;
  	font-size: 25px;
  }

  .buttonContainer {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
  }

  .resultBody {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .result {
  	border-radius: 20px;
  	text-align: center;
  	margin: 30px;
  	padding: 20px;
  	font-weight: bold;
  }

  .buttonAlignItemsCenter {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }



  .randomNumberBottom {
  	border-radius: 100px;
  	padding: 15px;
  	background: green;
  	color: white;
  	border: none;
  	margin: 10px;
  	transition: ease 0.5s;
  	text-align: center;
  }

  /* #eef1f7
  #d7dbe2
  #f5f8fc */
  .buttonGameSub {
  	border-radius: 50%;
  	padding: 0px 5px;
  	background: #d0d4da;
  	border: 1px solid #e6e6e6;
  }

  .bodyBtnHeader {
  	padding: 15px;
  	background: linear-gradient(#ffffff, #989b9f);
  	border-radius: 50%;
  	margin: 0 5px 0;
  }

  .buttonSubScore {
  	border-radius: 10%;
  	height: 60px;
  	margin: 0 7px;
  	padding: 0px 5px;
  	background: #d0d4da;
  	border: 1px solid #e6e6e6;
  }

  .bodyCheckContainer button {
  	font-size: 15px;
  }

  .bodyBtnRestartGame {
  	padding: 9px;
  	background: linear-gradient(#ffffff, #989b9f);
  	border-radius: 50%;
  	margin: 0 5px 0;
  }

  .btnRestartGame {
  	padding: 15px;
  	background: #d0d4da;
  	border: 1px solid #e6e6e6;
  	border-radius: 50%;
  	margin: 0 5px 0;
  	font-weight: bold;
  }



  .container {
  	min-height: 100%;
  	display: flex;
  	flex-direction: column;
  }

  .wrapper {
  	min-height: 100%;
  	display: flex;
  	flex-direction: column;
  }

  .main {
  	flex: 1 1 auto;
  }

  .vs {
  	padding: 10px;
  	font-size: 40px;
  	color: gold;
  }

  .bodyCheckContainer {
  	margin: 50px 0 0 0;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .bodyCheckContainer button {
  	font-size: 13px;
  	color: #4e4545;
  }

  .youWinGame {
  	font-size: 10rem;
  	text-align: center;
  }

  .subTitleHeader {
  	text-align: center;
  	font-weight: bold;
  	font-size: 30px;
  }

  .imgAdmin {
  	display: flex;
  }

  .imgAdmin img {
  	max-width: 100%;
  	width: 10%;
  	height: 10%;
  	border-radius: 80%;
  }

  .footerText {
  	padding: 20px;
  	color: rgb(108 84 198);
  }